MMOEngine
luacov.report.out
luacov.stats.out
.vscode/c_cpp_properties.json
.vscode/settings.json
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/rules.ninja
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.13.4/CMakeCCompiler.cmake
build/CMakeFiles/3.13.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.13.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.13.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.13.4/CMakeSystem.cmake
build/CMakeFiles/3.13.4/CompilerIdC/a.out
build/CMakeFiles/3.13.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.13.4/CompilerIdCXX/a.out
build/CMakeFiles/3.13.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/src/cmake_install.cmake
build/src/CTestTestfile.cmake
build/src/client/cmake_install.cmake
build/src/client/CTestTestfile.cmake
build/src/conf/cmake_install.cmake
build/src/conf/CTestTestfile.cmake
build/src/pathfinding/cmake_install.cmake
build/src/pathfinding/CTestTestfile.cmake
build/src/server/chat/cmake_install.cmake
build/src/server/chat/CTestTestfile.cmake
build/src/server/db/cmake_install.cmake
build/src/server/db/CTestTestfile.cmake
build/src/server/login/cmake_install.cmake
build/src/server/login/CTestTestfile.cmake
build/src/server/ping/cmake_install.cmake
build/src/server/ping/CTestTestfile.cmake
build/src/server/status/cmake_install.cmake
build/src/server/status/CTestTestfile.cmake
build/src/server/web/cmake_install.cmake
build/src/server/web/CTestTestfile.cmake
build/src/templates/cmake_install.cmake
build/src/templates/CTestTestfile.cmake
build/src/terrain/cmake_install.cmake
build/src/terrain/CTestTestfile.cmake
build/Testing/Temporary/LastTest.log
build/utils/googletest-release-1.10.0/cmake_install.cmake
build/utils/googletest-release-1.10.0/CTestTestfile.cmake
build/utils/googletest-release-1.10.0/googlemock/cmake_install.cmake
build/utils/googletest-release-1.10.0/googlemock/CTestTestfile.cmake
build/utils/googletest-release-1.10.0/googletest/cmake_install.cmake
build/utils/googletest-release-1.10.0/googletest/CTestTestfile.cmake
build/utils/googletest-release-1.10.0/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets-debug.cmake
build/utils/googletest-release-1.10.0/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets.cmake
build/utils/googletest-release-1.10.0/googletest/generated/gmock_main.pc
build/utils/googletest-release-1.10.0/googletest/generated/gmock.pc
build/utils/googletest-release-1.10.0/googletest/generated/gtest_main.pc
build/utils/googletest-release-1.10.0/googletest/generated/gtest.pc
build/utils/googletest-release-1.10.0/googletest/generated/GTestConfig.cmake
build/utils/googletest-release-1.10.0/googletest/generated/GTestConfigVersion.cmake
MMOCoreORB/laborDay.diff
MMOCoreORB/.vscode/c_cpp_properties.json
MMOCoreORB/.vscode/settings.json
MMOCoreORB/bin/scripts/custom_scripts/.gitignore
MMOCoreORB/bin/scripts/custom_scripts/README.md
MMOCoreORB/bin/scripts/custom_scripts/loot/groups/anniversary_quest_loot_group.lua
MMOCoreORB/bin/scripts/custom_scripts/loot/items/basilisk_anniversary/anniversary_item_1.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/basilisk_anniversary/anniversary_disaster_of_desserts.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/basilisk_anniversary/anniversary_grandmaster_baker.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/basilisk_anniversary/anniversary_information_broker.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/RemembranceMemorialCaretakerConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/anniversary/AnniversaryAltonFlayConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/anniversary/AnniversaryMarthaFieriConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/anniversary/AnniversarySnoopStewartConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDayCaptainAlrezrinConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDayCaptainCarkorConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDayCaptainEdwardsConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDayCaretakerConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDayCorporalZuvordConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDayGeneralAldricConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDayLieutenantLowellConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDayPeetyJoeConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDayPuprusLiConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDaySeargentVilmoreConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/empire_day/EmpireDayTK626ConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/something_wicked/DayeGraffConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/something_wicked/DornHobanConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/something_wicked/ElphabaaConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/something_wicked/JainaTaversConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/something_wicked/NimaFreetaaConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/something_wicked/ObiTainerConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/something_wicked/OnjoChinConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/something_wicked/OraOroknelConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/something_wicked/RickBrownConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/something_wicked/ZindraHuieConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/visions_of_the_past/VisionsDianeBrackConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/visions_of_the_past/VisionsJohnRoyConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/visions_of_the_past/VisionsRichKosterConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations/visions_of_the_past/VisionsSheriRayConvoTemplate.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_captain_alrezrin.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_captain_carkor.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_captain_edwards.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_caretaker.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_corporal_zuvord.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_general_aldric.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_lieutenant_lowell.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_peetyjoe.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_puprus.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_seargent_vilmore.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/empire_day/empireday_stormtrooper_major.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_alec_ginness.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_alex_mccrindle.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_amber.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_caretaker.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_carrie_fisher.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_don_henderson.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_jeremy_bulloch.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_peter_cushing.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_peter_mayhew.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_phil_brown.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_renala.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_shelagh_fraser.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/remembrance_memorial/memorial_xavia.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/something_wicked/somethingwicked_daye_graff.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/something_wicked/somethingwicked_dorn_hoban.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/something_wicked/somethingwicked_elphabaa.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/something_wicked/somethingwicked_jaina_tavers.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/something_wicked/somethingwicked_nima_freetaa.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/something_wicked/somethingwicked_obi_tainer.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/something_wicked/somethingwicked_onjo_chin.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/something_wicked/somethingwicked_ora_oroknel.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/something_wicked/somethingwicked_rick_brown.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/something_wicked/somethingwicked_zindra_huie.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/SWGEmuExampleEvent.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/basilisk_anniversary/basilisk_anniversary.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/basilisk_anniversary/screenplay.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/basilisk_anniversary/conversations/AnniversaryAltonFlay_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/basilisk_anniversary/conversations/AnniversaryMarthaFieri_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/basilisk_anniversary/conversations/AnniversarySnoopStewart_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/empire_day_spawns.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/empire_day.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/screenplay.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDayCaptainAlrezrin_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDayCaptainCarkor_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDayCaptainEdwards_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDayCaretaker_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDayCorporalZuvord_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDayGeneralAldric_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDayLieutenantLowell_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDayPeetyJoe_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDayPuprusLi_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDaySeargentVilmore_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/empire_day/conversations/EmpireDayTK626_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/money_for_nothing/screenplay_tc-prime.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/remembrance_memorial/RemembranceMemorial.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/remembrance_memorial/screenplay.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/remembrance_memorial/conversations/RemembranceMemorialCaretaker_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/screenplay.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/something_wicked_spawns.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/something_wicked.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/convo_handlers/DayeGraff_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/convo_handlers/DornHoban_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/convo_handlers/Elphabaa_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/convo_handlers/JainaTavers_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/convo_handlers/NimaFreetaa_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/convo_handlers/ObiTainer_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/convo_handlers/OnjoChin_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/convo_handlers/OraOroknel_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/convo_handlers/RickBrown_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/something_wicked/convo_handlers/ZindraHuie_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/visions_of_the_past/screenplay.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/visions_of_the_past/convo_handlers/VisionsDianeBrack_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/visions_of_the_past/convo_handlers/VisionsJohnRoy_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/visions_of_the_past/convo_handlers/VisionsRichKoster_convo_handler.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/visions_of_the_past/convo_handlers/VisionsSheriRay_convo_handler.lua
nano.save
MMOCoreORB/bin/scripts/custom_scripts/loot/groups.lua
MMOCoreORB/bin/scripts/custom_scripts/loot/items.lua
MMOCoreORB/bin/scripts/custom_scripts/loot/groups/visions_quest_loot_group.lua
MMOCoreORB/bin/scripts/custom_scripts/loot/items/visions_of_the_past/visions_item_1.lua
MMOCoreORB/bin/scripts/custom_scripts/loot/items/visions_of_the_past/visions_item_2.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversation.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/conversations.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/visions_of_the_past/visions_imperial_informant.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/visions_of_the_past/visions_imperial_manager.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/visions_of_the_past/visions_rebel_informant.lua
MMOCoreORB/bin/scripts/custom_scripts/mobile/visions_of_the_past/visions_rebel_manager.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/visions_of_the_past/visions_of_the_past_spawns.lua
MMOCoreORB/bin/scripts/custom_scripts/screenplays/visions_of_the_past/visions_of_the_past.lua
