autom4te.cache
config.h.in
config.h.in~
configure
bin/coverage.info
bin/luacov.stats.out
Makefile.in
aclocal.m4
bin/conf/rev.txt
build/*
src/Makefile.in
src/client/Makefile.in
src/client/aclocal.m4
src/client/config.h.in
src/client/configure
src/client/build/*
INSTALL
.settings/*
.sw*
Doxyfile
bin/*.log
bin/*.xml
bin/*sh
bin/*out
*test*
*.sh
build_temp
*_includes
html
latex
log
src/Makefile
src/server/chat/Makefile
src/server/conf/Makefile
src/server/db/Makefile
src/server/login/Makefile
src/server/ping/Makefile
src/server/status/Makefile
src/server/web/Makefile
src/server/zone/Makefile
tags
utils/gtest-1.6.0/*
../*
bin/conf/*
.*.swp
.ycm_extra_conf.py*
sql/insert_strings.sql
build.out
build.out.prev
bin/screenlog*

