* {
	position: relative;
	font-size: 16px;
	line-height: 1.0em;
	font-family: verdana, tahoma, arial, sans-serif;
}

html {
	height: 100%;
}

div.login_box {
	margin: 5% auto 0 auto;
	border: 0.0625em solid #eee;
	width: 15.0em;
}

div.login_box h1 {
	font-size: 0.8em;
	color: #fff;
	background-color: #bcd;
	margin: 0.0625em;
	text-transform: uppercase;
	padding: 0.5em;
}

div.login_box form {
	background-color: #ddd;
	border: 0.0625em solid #fff;
	padding: 0.625em;
	text-align: right;
}

div.login_box label {
	display: block;
	margin: 0.5em 0;
	font-size: 0.7em;
	text-transform: uppercase;
	font-weight: 700;
	color: #555;
	padding: 0;
	text-shadow: 0.125em 0.125em #eee;
	text-align: left;
}

div.login_box input.textbox {
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0.8em;
	text-align: left;
}

div.login_box div.textbox_container {
	border: 0.0625em solid #bbb;
	background-color: #fff;
	padding: 0.125em;
	margin-bottom: 0.5em
}

div.login_box input.submit {
	font-size: 0.8em;
	text-shadow: 0.125em 0.125em #fff;
}
